__pycache__/
*.py[cod]
*.pt
.venv/
runs/
colab_packages/
config/shortcuts.json
dataset/raw/*.png
dataset/raw/*.jpg
dataset/raw/*.jpeg
dataset/images/**/*.png
dataset/images/**/*.jpg
dataset/images/**/*.jpeg
dataset/labels/**/*.txt
dataset/labels/**/*.cache
logs/*
